<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <fieldset>
          <legend>TV Show Search</legend>
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Name of the show" [formControl]="filterControl" />
          <button type="button" class="primary" (click)="onSearchTVShows()">Search</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-generic-table [columns]="tableColumns" [templates]="{ actions }" [data$]="tvShowsTable$" [filter$]="filter$">
      </app-generic-table>
    </div>
  </div>
</div>

<ng-template #actions let-data="data">
  <span class="icon-info" (click)="onNavigateToDetails(data)"></span>
  <span class="icon-bookmark" [class.highlight]="data | favorite : favoriteTvShows" (click)="onToggleFavorites(data)">
  </span>
  <span class="icon-link"></span>
</ng-template>
