<div class="container">
  <button class="small" (click)="onNavigateBack()">Back</button>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <app-tv-show-card [title]="tvShow.name">
        <img body [src]="tvShow.image_path" class="media clickable" (click)="onOpenGalleryDialog()" />
        <h4 footer>
          Rating: {{ tvShow.rating | number : "1.1-2" }} / 10
          <small>(rated by {{ tvShow.rating_count }} people)</small>
        </h4>
      </app-tv-show-card>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <div class="card fluid">
        <div class="section">
          <h3>
            {{ tvShow.name }}
            <small>{{ tvShow.country }} {{ tvShow.start_date | date : "yyyy" }}</small>
          </h3>
          <h3>
            <small>
              {{ tvShow | countSeasons | i18nPlural : { "=0": "No seasons", "=1": "1 Season", other: "# Seasons" } }}
              -
              {{
                tvShow.episodes.length | i18nPlural : { "=0": "No episodes", "=1": "1 Episode", other: "# Episodes" }
              }}
            </small>
          </h3>
        </div>
        <div class="section" [innerHTML]="tvShow.description"></div>
      </div>
    </div>
  </div>
</div>

<app-generic-dialog #galleryDialog>
  <h3 header>{{ tvShow.name }}</h3>
  <div body class="gallery">
    <img class="image-selected" [src]="currentImageSrc || tvShow.image_path" />
    <div class="image-list">
      <ng-container *ngFor="let imageSrc of tvShow.pictures">
        <img class="image-list-item" [src]="imageSrc" (click)="onSelectImage(imageSrc)" />
      </ng-container>
    </div>
  </div>
</app-generic-dialog>
