<table class="generic-table">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.label }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="dataSource.length; else noData">
      <tr *ngFor="let data of dataSource">
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column.type === TableColumnType.DEFAULT">
            {{ data[column.key] }}
          </ng-container>
          <ng-container *ngIf="column.type === TableColumnType.TEMPLATE">
            <ng-container *ngTemplateOutlet="templates[column.key]; context: { data }"></ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <div class="loading-container">
        <div class="spinner primary"></div>
      </div>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        Page {{ page }} of {{ pages }}
        <button class="small" [disabled]="isLoading || page <= 1" (click)="onPreviousPage()"><</button>
        <button class="small" [disabled]="isLoading || page >= pages" (click)="onNextPage()">></button>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #noData>
  <tr>
    <td class="no-data">No data</td>
  </tr>
</ng-template>
