<div class="card fluid">
  <div class="section header">
    <h5>
      {{ tvShow.name }}
    </h5>
    <div class="actions">
      <span class="icon-info" (click)="onNavigateToDetails(tvShow.id)"></span>
      <span class="icon-bookmark highlight" [toggleFavorite]="tvShow.id"></span>
    </div>
  </div>
  <img [src]="tvShow.image_path" class="section media" [toggleFavorite]="tvShow.id" />
  <div class="section">
    <p>
      {{ tvShow.status | countdown : tvShow.countdown?.air_date || "" }}
    </p>
  </div>
</div>

<ng-template #noInfo>
  <span>No info</span>
</ng-template>
